{% extends 'base.html' %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload-style.css') }}">
{% endblock %}

{% block body %}
    <div class="big-container">
        <div class="containerr">
            <h1>Bogdan</h1>
            <h3>Mondialu</h3>

            <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
                <input type="file" name="file" class="btn">
                <input type="submit" value="Upload" class="btn">
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <p>{{ current_file }}</p>

            {% if session['passages'] %}
                <form method="POST" action="{{ url_for('process_passage') }}">
                    {% for passage in session['passages'] %}
                        {% if passage.startswith('_') %}
                            <label for="textfield_{{ loop.index }}">Fill in the blanks:</label>
                            <input type="text" name="textfield_{{ loop.index }}" required><br>
                        {% else %}
                            <p>{{ passage }}</p>
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="passages" value="{{ session['passages'] }}">
                    <input type="submit" value="Submit" class="btn">
                </form>
            {% else %}
                <p>No current file selected. Upload a file first.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
